snippet ( "Expand parenthesis" i
($1) $0
endsnippet

snippet { "Expand curly braces" i
{$1} $0
endsnippet

snippet [ "Expand square braces" i
[$1] $0
endsnippet

snippet ' "Expand quotes" i
'$1' $0
endsnippet

snippet " "Expand double-quotes" i
"$1" $0
endsnippet

snippet < "Expand angular braces" i
<$1> $0
endsnippet

snippet * "Expand asterisk" i
*$1* $0
endsnippet

snippet ** "Expand asterisks" i
**$1** $0
endsnippet
