snippet ( "Expand parenthesis" iA
($1) $0
endsnippet

snippet { "Expand curly braces" iA
{$1} $0
endsnippet

snippet [ "Expand square braces" iA
[$1] $0
endsnippet

snippet ' "Expand quotes" iA
'$1' $0
endsnippet

snippet " "Expand double-quotes" iA
"$1" $0
endsnippet

snippet < "Expand angular braces" iA
<$1> $0
endsnippet
