snippet ( "Expand parenthesis"
($1) $0
endsnippet

snippet { "Expand curly braces"
{$1} $0
endsnippet

snippet [ "Expand square braces"
[$1] $0
endsnippet

snippet ' "Expand quotes"
'$1' $0
endsnippet

snippet " "Expand double-quotes"
"$1" $0
endsnippet

snippet < "Expand angular braces"
<$1> $0
endsnippet

snippet * "Expand asterisk"
*$1* $0
endsnippet

snippet ** "Expand asterisks"
**$1** $0
endsnippet
