snippet /* "Comment" bA
/*
$1
*/
$0
endsnippet

snippet inc "include" bA
#include <$1>
$0
endsnippet

snippet std "Use std" bA
using namespace std;
$0
endsnippet

snippet main "int main" bA
int main () {
	$0
	return 0;
}
endsnippet

snippet for "For loop"
for ($1){
	$2
}
endsnippet

snippet	if "If statement"
if ($1){
	$2
}
endsnippet

snippet while "While statement"
while ($1){
	$2
}
endsnippet
